.mainMenu {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  font-size: 0.75rem; /* text-xs */

  background-color: rgba(17, 24, 39, 0.8); /* gray-900 / 80% */

  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1); /* shadow-md */

  z-index: 1001;
}
