/* src/assets/styles/global.css */

/* Современный CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Размеры html/body/root для flex-контейнеров */
html,
body,
#root {
  height: 100%;
  width: 100%;
}
